<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <nlog autoReload="true" throwExceptions="true">
        <targets>
            <target name="console" type="ColoredConsole" encoding="utf-8" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" useDefaultRowHighlightingRules="true"/>
            <target name="file" type="File" fileName="${basedir}/logs/server-${shortdate}.log" layout="${longdate}|${level:uppercase=true}|${logger}|${message}"/>
        </targets>
        <rules>
            <logger name="*" minlevel="Debug" writeTo="console"/>
            <logger name="*" minlevel="Error" writeTo="file"/>
        </rules>
    </nlog>
</configuration>
